<%- include('header'); %>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider slider-h-75">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img src="assets/images/GettyImages-647156900.jpg" class="full-image" data-mask="70">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">About Us
                            </h1>
                            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->
    <section id="content" class="section-1 single">
        <div class="container">
            <div class="row">

                <!-- Main -->
                <main class="col-12 col-lg-8 p-0">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h2 class="featured mt-0 ml-0">Our Mission</h2>
                            <p>The Family Map Inventory was developed by experts on child development, home environment,
                                child care
                                education, mental health, and parenting. These professionals are dedicated to
                                translating research to childcare
                                practice.</p>
                        </div>
                        <div class="row">
                            <div class="col-12 align-self-center">
                                <h4 class="featured mt-3 ml-0">Annual Renewal</h4>
                                <p>Once an agency has used the Family Map for a year, the Family Map team will work with
                                    the program to renew its authorization.</p>
                                <p>Programs are offered either a one-hour web-based session or onsite training, where we
                                    address updates from the past year. This continuing education is necessary for your
                                    agency to maintain the fidelity of the Family Map and to continue receiving access
                                    to our tools, technical support, and online learning opportunities.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 align-self-center">
                                <h4 class="featured mt-3 ml-0">Arkansas Providers</h4>
                                <p>Arkansas Early Childhood Providers may be eligible for a state sponsored program that
                                    provides training and technical assistance to help your agency improve its family
                                    engagement. This program is supported by funds from the Arkansas Department of Human
                                    Services, Division of Child Care and Early Childhood Education</p>
                            </div>
                        </div>
                    </div>

                </main>

                <!-- Sidebar -->
                <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                    <div class="row">
                        <div class="col-12 align-self-center text-left">
                            <!-- Widget [testimonials] -->
                            <div class="item widget-carousel">
                                <div class="swiper-container mid-slider-simple items" data-perview="1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-1.jpg" alt="Leanne Whiteside-Mansell"
                                                        class="person">
                                                    <h4>Leanne <br> Whiteside-Mansell</h4>
                                                    <p>Leanne Whiteside-Mansell, Ed.D. is a Professor in the Department
                                                        of Family and Preventive Medicine and is the developer of the
                                                        Family Map Inventories
                                                    </p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-2.jpg" alt="Robert H. Bradley"
                                                        class="person">
                                                    <h4>Robert H. Bradley</h4>
                                                    <p>Robert H. Bradley, Ph.D. is Director of the Family & Human
                                                        Dynamics Research Institute and Professor of Psychology and the
                                                        School of Social and Family Dynamics at Arizona State
                                                        University.</p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-3.jpg" alt="Nicola Conners-Burrow"
                                                        class="person">
                                                    <h4>Nicola<br>Conners-Burrow</h4>
                                                    <p>is an Associate Professor of Family & Preventative Medicine at
                                                        the University of Arkansas for Medical Sciences. With a
                                                        background in educational psychology and research</p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-4.jpg" alt="Lorraine McKelvey"
                                                        class="person">
                                                    <h4>Lorraine McKelvey</h4>
                                                    <p>Lorraine McKelvey, Ph.D., is an Assistant Professor of Family &
                                                        Preventative Medicine at UAMS. Her background is in
                                                        developmental psychology, with experience in program evaluation
                                                        research.</p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-5.jpg" alt="Patti Bokony"
                                                        class="person">
                                                    <h4>Patti Bokony</h4>
                                                    <br>
                                                    <p>is an assistant research professor in the Department of Family
                                                        and Preventive Medicine at the University of Arkansas for
                                                        Medical Sciences.</p>
                                                    <br>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </aside>
            </div>
            <div class="row">

                <!-- Main -->
                <main class="col-12 col-lg-12 p-0 mt-4">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h2 class="featured mt-0 ml-0">FAQ</h2>
                            <p>The Family Map Inventory is a strength-based assessment of a child’s home and parenting
                                environment that guides educators in building family partnerships to promote healthy
                                child development. The Inventory is delivered as a structured interview that will reveal
                                the positive aspects of each child and family's life as well as highlight areas of risk.
                                This assessment is research-based, Head Start aligned, Parents as Teachers approved, and
                                is appropriate for prenatal mothers and children from birth to five, including dual
                                language learners.</p>
                        </div>
                        <ul style="list-style-type:none;">
                            <% for(var i=0; i < faq.length; i++) { %>
                                <li>
                                    <div class="row">
                                        <div class="col-12 align-self-center">
                                            <a data-toggle="collapse" href="#collapse<%= i %>" role="button"
                                                aria-expanded="false" aria-controls="collapse<%= i %>">
                                                <h5>
                                                    <%= faq[i].question %>
                                                </h5>
                                            </a>
                                            <div class="collapse" id="collapse<%= i %>">
                                                <ul>
                                                    <li>
                                                        <%= faq[i].answer %>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                    </div>
            </div>
            </main>
        </div>
        </div>
    </section>

    <%- include('footer'); %>