<%- include('header'); %>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider slider-h-75">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img src="assets/images/GettyImages-647156900.jpg" class="full-image" data-mask="70">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">About Us
                            </h1>
                            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->
    <section id="content" class="section-1 single">
        <div class="container">
            <div class="row">

                <!-- Main -->
                <main class="col-lg-12 p-0">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h2 class="featured mt-0 ml-0">Our Mission</h2>
                            <p class="lead">The Family Map Inventory was developed by experts on child development, home
                                environment,
                                child care
                                education, mental health, and parenting. These professionals are dedicated to
                                translating research to childcare
                                practice.</p>
                        </div>
                        <section id="team" class="pt-4 mt-4 carousel">
                            <div class="overflow-holder">
                                <div class="container">
                                    <div class="row text-center intro">
                                        <div class="col-12">
                                            <h2 class="mb-0 super effect-static-text">Team of Experts</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mx-2 card text-center">
                                                <img src="assets/images/team-1.jpg" alt="Leanne Whiteside-Mansell"
                                                    class="person align-self-center">
                                                <h4>Leanne <br> Whiteside-Mansell</h4>
                                                <p class="text-left">Leanne Whiteside-Mansell, Ed.D., is a Professor in the Department of Family and Preventive Medicine at the University of Arkansas for Medical Sciences and is the developer of the Family Map Inventory. She has more than 100 presentations and publications related to parenting and child development in at-risk populations. She led two research projects to develop the Family Map. The first was a Head Start Measurement Development project that resulted in the Early Childhood Family Map. The second project was to develop and test the effectiveness of the Infant Toddler Family Map in increasing parent-teacher partnerships. She continues to lead the Family Map team in the development of additional applications of the instrument.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="mx-2 card text-center">
                                                <img src="assets/images/team-2.jpg" alt="Robert H. Bradley"
                                                    class="person align-self-center">
                                                <h4>Robert H. Bradley</h4>
                                                <p class="text-left">Robert H. Bradley, Ph.D., is a joint professor in the T. Denny Sanford School of Social and Family Dynamics and the Department of Psychology at Arizona State University. Dr. Bradley has an extensive background in the measurement of family characteristics. He developed the HOME Inventory which is a widely used measure of the home environment. He has served on the editorial board of 10 professional journals and has been an investigator for the Early Head Start National Evaluation Study and the NICHD Study of Child Care and Youth Development. Professor Bradley’s primary areas of research include relations between experiences in the home environment and children’s development, child care, and early education.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12 col-md-6">
                                            <div class="mx-2 card text-center">
                                                <img src="assets/images/team-3.jpg" alt="Nicola Conners-Burrow"
                                                    class="person align-self-center">
                                                <h4>Nicola<br>Conners-Burrow</h4>
                                                <p class="text-left">Nicola Conners-Burrow, Ph. D. is a Professor of Family &amp; Preventive Medicine at the University of Arkansas for Medical Sciences. Her work focuses on children at risk of early social-emotional concerns, including those impacted by trauma, maternal substance abuse and depression. Her research has led to unique national collaborations and interventions to support young children’s mental health. With a background in educational psychology and research, she has more than 45 peer-reviewed manuscripts published or in press and has served as the principal investigator on numerous projects.</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mx-2 card text-center">
                                                <img src="assets/images/team-4.jpg" alt="Lorraine McKelvey"
                                                    class="person align-self-center">
                                                <h4>Lorraine McKelvey</h4>
                                                <p class="text-left">Lorraine McKelvey, Ph.D., is an Associate Professor of Family &amp; Preventive Medicine at the University of Arkansas for Medical Sciences. Her background is in developmental psychology, with experience in program evaluation research, university-community partnerships and analysis of longitudinal data. Dr. McKelvey is the lead evaluator of several statewide initiatives including Arkansas’ childcare quality rating and improvement system and the state’s maternal, infant, and early childhood home visiting programs. Dr. McKelvey has most actively been involved in the use of the Family Map in home visiting programs. Her research work has demonstrated the validity of the Family Map as a valid ACEs screening tool in young children.</p>
=======
                                    <div class="swiper-container mid-slider-simple items">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide slide-center text-center item">
                                                <div class="row card">
                                                    <div class="col-12">
                                                        <img src="assets/images/team-1.jpg"
                                                            alt="Leanne Whiteside-Mansell" class="person">
                                                        <h4>Leanne <br> Whiteside-Mansell</h4>
                                                        <p>Leanne Whiteside-Mansell, Ed.D., is a Professor in the Department of Family and Preventive Medicine at the University of Arkansas for Medical Sciences and is the developer of the Family Map Inventory. She has more than 100 presentations and publications related to parenting and child development in at-risk populations. She led two research projects to develop the Family Map. The first was a Head Start Measurement Development project that resulted in the Early Childhood Family Map. The second project was to develop and test the effectiveness of the Infant Toddler Family Map in increasing parent-teacher partnerships. She continues to lead the Family Map team in the development of additional applications of the instrument.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide slide-center text-center item">
                                                <div class="row card">
                                                    <div class="col-12">
                                                        <img src="assets/images/team-2.jpg" alt="Robert H. Bradley"
                                                            class="person">
                                                        <h4>Robert H. Bradley</h4>
                                                        <p>Robert H. Bradley, Ph.D., is a joint professor in the T. Denny Sanford School of Social and Family Dynamics and the Department of Psychology at Arizona State University. Dr. Bradley has an extensive background in the measurement of family characteristics. He developed the HOME Inventory which is a widely used measure of the home environment. He has served on the editorial board of 10 professional journals and has been an investigator for the Early Head Start National Evaluation Study and the NICHD Study of Child Care and Youth Development. Professor Bradley’s primary areas of research include relations between experiences in the home environment and children’s development, child care, and early education.</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide slide-center text-center item">
                                                <div class="row card">
                                                    <div class="col-12">
                                                        <img src="assets/images/team-3.jpg" alt="Nicola Conners-Burrow"
                                                            class="person">
                                                        <h4>Nicola<br>Conners-Burrow</h4>
                                                        <p>Nicola Conners-Burrow, Ph. D. is a Professor of Family &amp; Preventive Medicine at the University of Arkansas for Medical Sciences. Her work focuses on children at risk of early social-emotional concerns, including those impacted by trauma, maternal substance abuse and depression. Her research has led to unique national collaborations and interventions to support young children’s mental health. With a background in educational psychology and research, she has more than 45 peer-reviewed manuscripts published or in press and has served as the principal investigator on numerous projects.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide slide-center text-center item">
                                                <div class="row card">
                                                    <div class="col-12">
                                                        <img src="assets/images/team-4.jpg" alt="Lorraine McKelvey"
                                                            class="person">
                                                        <h4>Lorraine McKelvey</h4>
                                                        <p>Lorraine McKelvey, Ph.D., is an Associate Professor of Family &amp; Preventive Medicine at the University of Arkansas for Medical Sciences. Her background is in developmental psychology, with experience in program evaluation research, university-community partnerships and analysis of longitudinal data. Dr. McKelvey is the lead evaluator of several statewide initiatives including Arkansas’ childcare quality rating and improvement system and the state’s maternal, infant, and early childhood home visiting programs. Dr. McKelvey has most actively been involved in the use of the Family Map in home visiting programs. Her research work has demonstrated the validity of the Family Map as a valid ACEs screening tool in young children.</p>
                                                    </div>
                                                </div>
>>>>>>> c8872688254a52be630e68a59002d75b485fcb59
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </section>
                    </div>

                </main>

                <!-- Sidebar -->
                <!-- <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                    <div class="row">
                        <div class="col-12 align-self-center text-left">
                            <div class="item widget-carousel">
                                <div class="swiper-container mid-slider-simple items" data-perview="1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-1.jpg" alt="Leanne Whiteside-Mansell"
                                                        class="person">
                                                    <h4>Leanne <br> Whiteside-Mansell</h4>
                                                    <p>Leanne Whiteside-Mansell, Ed.D. is a Professor in the Department
                                                        of Family and Preventive Medicine and is the developer of the
                                                        Family Map Inventories
                                                    </p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-2.jpg" alt="Robert H. Bradley"
                                                        class="person">
                                                    <h4>Robert H. Bradley</h4>
                                                    <p>Robert H. Bradley, Ph.D. is Director of the Family & Human
                                                        Dynamics Research Institute and Professor of Psychology and the
                                                        School of Social and Family Dynamics at Arizona State
                                                        University.</p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-3.jpg" alt="Nicola Conners-Burrow"
                                                        class="person">
                                                    <h4>Nicola<br>Conners-Burrow</h4>
                                                    <p>is an Associate Professor of Family & Preventative Medicine at
                                                        the University of Arkansas for Medical Sciences. With a
                                                        background in educational psychology and research</p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-4.jpg" alt="Lorraine McKelvey"
                                                        class="person">
                                                    <h4>Lorraine McKelvey</h4>
                                                    <p>Lorraine McKelvey, Ph.D., is an Assistant Professor of Family &
                                                        Preventative Medicine at UAMS. Her background is in
                                                        developmental psychology, with experience in program evaluation
                                                        research.</p>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide slide-center text-center item">
                                            <div class="row card">
                                                <div class="col-12">
                                                    <img src="assets/images/team-5.jpg" alt="Patti Bokony"
                                                        class="person">
                                                    <h4>Patti Bokony</h4>
                                                    <br>
                                                    <p>is an assistant research professor in the Department of Family
                                                        and Preventive Medicine at the University of Arkansas for
                                                        Medical Sciences.</p>
                                                    <br>
                                                    <ul class="navbar-nav social share-list ml-auto">
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-instagram"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-facebook"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-linkedin"></i></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a href="#" class="nav-link"><i
                                                                    class="icon-social-twitter"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </aside> -->
            </div>
            <div class="row">

                <!-- Main -->
                <main class="col-12 col-lg-12 p-0 mt-4">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h2 class="featured mt-0 ml-0">FAQ</h2>
                            <p class="lead">The Family Map Inventory is a strength-based assessment of a child’s home
                                and parenting
                                environment that guides educators in building family partnerships to promote healthy
                                child development. The Inventory is delivered as a structured interview that will reveal
                                the positive aspects of each child and family's life as well as highlight areas of risk.
                                This assessment is research-based, Head Start aligned, Parents as Teachers approved, and
                                is appropriate for prenatal mothers and children from birth to five, including dual
                                language learners.</p>
                        </div>
                        <ul style="list-style-type:none;">
                            <% for(var i=0; i < faq.length; i++) { %>
                                <li>
                                    <div class="row">
                                        <div class="col-12 align-self-center">
                                            <a data-toggle="collapse" href="#collapse<%= i %>" role="button"
                                                aria-expanded="false" aria-controls="collapse<%= i %>">
                                                <h5>
                                                    <%= faq[i].question %>
                                                </h5>
                                            </a>
                                            <div class="collapse" id="collapse<%= i %>">
                                                <ul>
                                                    <li>
                                                        <%= faq[i].answer %>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                    </div>
            </div>
            </main>
        </div>
        </div>
    </section>

    <%- include('footer'); %>
